@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&family=Sedgwick+Ave+Display&display=swap');


body{
    background-color:#ABD2FA;
}

#content{
    width:100%;
}


header{
    display:grid;
    grid-template-columns: 150px auto;
    background-color:#DADADA ;
}

#logo_link{
    /* padding-top: 10px;
    justify-self: center; */
     align-self: center;
} 

.logo{
    width:300px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: rgb(69, 69, 69);
    text-decoration: none;
    padding:35px;
    font-size: 5em;
    font-family: 'Sedgwick Ave Display', cursive;
    margin-top: 40px;
}


main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


#hero-image{
    width:100%;
}

#text-box1{
    font-size: 100px;
    z-index: 2;
    font-family: 'Overlock SC', cursive;
}

#text-box2{
    font-size: 100px;
    z-index: 2;
    font-family: 'Overlock SC', cursive;
}

#text-box3{
    font-size: 100px;
    z-index: 2;
    font-family: 'Overlock SC', cursive;
}


.comp-background, #text-box1{
    width:100%;
    height: 100%;
    grid-column: 1/2;
    grid-row:1/2;
    opacity: .5;
    transform: scale(1.0)
}

.friend-background, #text-box2{
    width:100%;
    height: 100%;
    grid-column: 1/2;
    grid-row:2/3;
    opacity: .5;
    transform: scale(1.0)
}

.teach-background, #text-box3{
    width:100%;
    height: 100%;
    grid-column: 1/2;
    grid-row:3/4;
    opacity: .5;
    transform: scale(1.0)
}

footer{
    background-color:#DADADA;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}